*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family_main;
  &::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_main;
  }
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_main;
  }
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #25284d;
  background-color: #1d2041;
  background-color: #0965a2;
  background-color: #3c98d5;
  background-color: #0f1021;
  color: $color_text_primary;
}

p,
a {
  color: $color_text_primary;
}

h1 {
  font-family: $font-family_secondary;
  font-weight: 400;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
  letter-spacing: 1rem;
  height: 30rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../public/intro-bg-2.webp");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
