$font-family_main: "Changa", sans-serif;
$font-family_secondary: "VT323", sans-serif;

// COLORS
// $color_main: ;
// $color_secondary: ;

$color_text_primary: #bbbbbb;
$color_text_secondary: #77b7e2;
$color_text_secondary: #4dabf7;
