.about {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__text {
    font-size: 2.8rem;
    width: 40%;
    text-align: center;
    line-height: 4rem;
    font-family: "VT323", sans-serif;
    color: white;

    &-span {
      font-family: $font-family_secondary;
      color: $color_text_secondary;
    }
  }

  &__video {
    width: 50%;
    margin-top: 2rem;
    border-radius: 4px;
    box-shadow: rgba(119, 183, 226, 0.1) 0px 48px 100px 0px;
    box-shadow: rgba(119, 183, 226, 0.2) 0px 5px 15px 0px;

    &:hover {
      cursor: pointer;
    }
  }

  &__gif-1 {
    position: absolute;
    width: 15rem;
    top: 3rem;
    left: 2rem;
    // transform: rotate(-30deg);
  }

  &__gif-2 {
    position: absolute;
    width: 15rem;
    bottom: 3rem;
    right: 2rem;
    // transform: rotate(-30deg);
  }
}
