.event {
  //   width: 1920px;
  //   width: 100vw;

  height: 100vh;
  background-image: url("../../../public/bg-event-left.png"),
    url("../../../public/bg-event-right.png"),
    url("../../../public/bg-event-center.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: -50px 0px, 1440px 0px, 480px center;
  background-size: contain;
  image-rendering: pixelated;
  border-radius: 5px;
  transform-origin: 432px 684px;
  display: grid;
  grid-template-columns: repeat(20, minmax(96px, 1fr));
  grid-template-rows: repeat(9, minmax(96px, 1fr));
  gap: 0px;
  transform: none;

  display: flex;
  justify-content: center;

  &-map {
    &_main-container {
      width: 60vw;
      height: 35vh;
      border-left: 5px solid #000000;
      position: relative;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &_top-container {
      width: 60vw;
      height: 12.5vh;
      position: absolute;
      border-bottom: 5px solid #000;
      top: -12.49rem;
      transform: translateX(-5px);

      &--rectangle {
        width: 5rem;
        height: 5rem;
        // background-color: red;
        position: absolute;
        bottom: -50%;
        transform: translateY(-50%);

        img {
          transform: translateY(1rem);
        }

        &_first {
          left: -2.3rem;

          display: flex;
          justify-content: center;
          align-items: flex-end;

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_second {
          left: calc(50% / 3);

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_third {
          left: calc((50% / 3) * 2);

          display: flex;
          justify-content: center;
          align-items: flex-end;

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_fourth {
          left: 50%;

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_fifth {
          left: calc(50% + (50% / 3));

          display: flex;
          justify-content: center;
          align-items: flex-end;

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_sixth {
          left: calc(50% + (50% / 3) * 2);

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_seventh {
          right: -2.3rem;

          display: flex;
          justify-content: center;
          align-items: flex-end;

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }
      }

      &--rectangle_child {
        position: absolute;
        top: 3rem;

        width: 3rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: center;

        &__first {
          left: -1.25rem;
        }
        &__second {
          top: 18rem;
          left: calc((50% / 3) + 1rem);
        }
        &__third {
          left: calc(((50% / 3) * 2) + 1rem);
        }
        &__fourth {
          top: 18rem;
          left: calc(50% + 1rem);
        }
        &__fifth {
          left: calc((50% + (50% / 3)) + 1rem);
        }
        &__sixth {
          top: 18rem;
          left: calc((50% + (50% / 3) * 2) + 1rem);
        }

        &__seventh {
          right: -1.3rem;
        }
      }
    }

    &_right-line {
      width: 8vw;
      height: 5px;
      position: absolute;
      background-color: #000000;

      top: 50%;
      right: -7.1rem;
      transform: translate(calc(50% + 1px), -50%);
    }

    &_bottom-container {
      width: 60vw;
      height: 12.5vh;
      position: absolute;
      border-top: 5px solid #000;
      bottom: -12.49rem;
      transform: translateX(-5px);

      &--rectangle {
        width: 5rem;
        height: 5rem;
        // background-color: #000000;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        display: flex;
        align-items: start;
        justify-content: center;

        &_first {
          left: -2.3rem;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_second {
          left: calc(50% / 3);

          display: flex;
          justify-content: center;
          align-items: flex-end;

          img {
            transform: translateY(1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_third {
          left: calc((50% / 3) * 2);

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_fourth {
          left: 50%;

          display: flex;
          justify-content: center;
          align-items: flex-end;

          img {
            transform: translateY(1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_fifth {
          left: calc(50% + (50% / 3));

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_sixth {
          left: calc(50% + (50% / 3) * 2);

          display: flex;
          justify-content: center;
          align-items: flex-end;

          img {
            transform: translateY(1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }

        &_seventh {
          right: -2.3rem;

          display: flex;
          justify-content: center;
          align-items: flex-start;

          img {
            transform: translateY(-1rem);
          }

          div {
            width: 5px;
            height: 10rem;
            background-color: #000;
          }
        }
      }

      &--rectangle_child {
        position: absolute;
        bottom: 3rem;

        width: 3rem;
        height: 3rem;
        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;

        &__first {
          left: -1.25rem;
        }
        &__second {
          bottom: 18rem;
          left: calc((50% / 3) + 1rem);
        }

        &__third {
          left: calc(((50% / 3) * 2) + 1rem);
        }

        &__fourth {
          bottom: 18rem;
          left: calc(50% + 1rem);
        }

        &__fifth {
          left: calc((50% + (50% / 3)) + 1rem);
        }

        &__sixth {
          bottom: 18rem;
          left: calc((50% + (50% / 3) * 2) + 1rem);
        }
        &__seventh {
          right: -1.3rem;
        }
      }
    }

    &_left-line {
      width: 13vw;
      height: 5px;
      position: absolute;
      background-color: #000000;

      top: 50%;
      left: -12.1rem;
      transform: translate(calc(-50% - 1px), -50%);
    }

    &_center-line {
      width: 60vw;
      height: 5px;
      background-color: #000000;

      position: absolute;
      top: 50%;

      transform: translate(-5px, -50%);
      &--rectangle {
        width: 5rem;
        height: 5rem;
        background-color: #000000;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        &_circle {
          width: 3rem;
          height: 3rem;

          border-radius: 50%;

          left: -25.3rem;
        }

        &_first {
          left: -17.3rem;
        }

        &_second {
          left: -2.3rem;
        }

        &_third {
          left: 25%;
        }

        &_fourth {
          left: 50%;
        }

        &_fifth {
          left: 57.5%;
        }

        &_sixth {
          left: 75%;
        }

        &_seventh {
          right: -2.3rem;
        }

        &_eighth {
          right: -17.3rem;
        }
      }
    }
  }

  &__warning {
    position: absolute;
    bottom: 4rem;
    right: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: 10px;
    padding: 1.5rem 3rem;
    border-radius: 10px;

    &-img {
      width: 4.5rem;
    }
  }
}

.index-1000 {
  z-index: 1000;
}
