.footer {
  height: 25rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  background-color: #272837;
  clip-path: polygon(30% 0%, 70% 0, 80% 100%, 20% 100%);
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);

  &__title {
    width: 35rem;
  }

  &__icons {
    &-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    font-size: 3rem;
  }
}
