.intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7) 85%,
      #0f1021 100%
    ),
    url("../../../public/intro-bg-2.webp");
  background-size: cover;
  background-position: center;

  &__title {
    animation: slide-bottom 1s;
  }

  &__btn-play {
    position: relative;
    display: inline-block;
    margin: 20px;
    animation: slide-bottom 1s;

    & a {
      font-family: $font-family_secondary;
      color: white;
      font-weight: bold;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      background-color: #ffa12b;
      display: block;
      position: relative;
      padding: 20px 40px;

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);

      -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
      box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    & a:active {
      top: 10px;
      background-color: #f78900;

      -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
      box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    }

    & :after {
      content: "";
      height: 100%;
      width: 100%;
      padding: 4px;
      position: absolute;
      bottom: -15px;
      left: -4px;
      z-index: -1;
      background-color: #2b1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  &__btn-event {
    position: relative;
    display: inline-block;
    margin: 20px;
    animation: slide-bottom 1s;

    & a {
      font-family: $font-family_secondary;
      color: white;
      font-weight: bold;
      font-size: 2.5rem;
      letter-spacing: 1px;
      text-align: center;
      text-decoration: none;
      background-color: #0b7eca;
      display: block;
      position: relative;
      padding: 20px 40px;

      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0px 1px 0px #000;
      filter: dropshadow(color=#000, offx=0px, offy=1px);

      -webkit-box-shadow: inset 0 1px 0 #6a9ec2, 0 10px 0 #04426b;
      -moz-box-shadow: inset 0 1px 0 #6a9ec2, 0 10px 0 #04426b;
      box-shadow: inset 0 1px 0 #6a9ec2, 0 10px 0 #04426b;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    & a:active {
      top: 10px;
      background-color: #065e99;

      -webkit-box-shadow: inset 0 1px 0 #6a9ec2, inset 0 -3px 0 #04426b;
      -moz-box-shadow: inset 0 1px 0 #6a9ec2, inset 0 -3pxpx 0 #04426b;
      box-shadow: inset 0 1px 0 #6a9ec2, inset 0 -3px 0 #04426b;
    }

    & :after {
      content: "";
      height: 100%;
      width: 100%;
      padding: 4px;
      position: absolute;
      bottom: -15px;
      left: -4px;
      z-index: -1;
      background-color: #2b1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  &__arrow-icon {
    position: absolute;
    font-size: 4rem;
    bottom: 2rem;
    animation: bounce 2s infinite;
  }
}
