.quest {
  &__title {
    // font-size: 3rem;
    color: #4dabf7;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  &__tips {
    &-container {
      width: 80%;
      margin: auto;
      margin-bottom: 2rem;
    }

    &-title {
      color: white;
      font-size: 2.5rem;
      color: #4dabf7;
      margin-bottom: 1rem;
    }

    &-li {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__video {
    &-container {
      text-align: center;
    }

    &-title {
      width: 80%;
      font-size: 3rem;
      color: #4dabf7;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem;
      text-align: center;
      font-family: "VT323", sans-serif;
    }

    width: 60%;
    margin-bottom: 0.5rem;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }

    &-credits {
      font-size: 1.4rem;
    }
  }

  &__xmark {
    &-container {
      position: absolute;
      top: -1.5rem;
      right: -1.5rem;
      padding: 0.6rem 1rem;
      background-color: #4dabf7;
      border-radius: 50%;
      margin: 2rem;

      &:hover {
        cursor: pointer;
        background-color: darken(#4dabf7, 10%);
      }
    }

    font-size: 2.5rem;
  }
}
