.tasks {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      #0f1021 0%,
      rgba(0, 0, 0, 0.7) 15%,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7) 85%,
      #0f1021 100%
    ),
    url("../../../public/tasks-bg.jpg");
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: $font-family-secondary;
    color: white;
    font-size: 4rem;
    margin-bottom: 5rem;
  }

  &__cards-container {
    display: flex;
    gap: 2rem;
  }
}
